:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;

/* Fonts */
--primary-font:Roboto, sans-serif;
--second-font:Raleway, sans-serif;
/* Color */
--main-tx-cl: #434455;
--background-cl: #FFFFFF;
--web-logo-cl: #2E2F42;
--link-cl: #2E2F42;
--address-cl:#434455;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 16px;
  list-style: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-tx-cl);
  background-color: var(--background-cl);
}
/* reset start */
 .link{
  text-decoration: none;
}

.list{
list-style: none;
}




/**
  |============================
  | Hero
  |============================
*/



/**
  |============================
  | Header
  |============================
*/
.logo-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.web-logo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--web-logo-cl) 
}


.header-nav-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--link-cl)
}

a:hover, a:active{
  background: #404BBF;
}

.header-mail {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color:var(--address-cl);
}

.header-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color:var(--address-cl);
  }




